<%-include include_header.html%>
<%-include include_banner.html%>

	<section class="body_main">
        <%-include include_nav.html%>
		<div class="trip">
			<div class="main">
				<div class="tt">共赢招商</div>
				<div class="tc">
                    <p>广西玉林伟骏副食主营健康饮料、白酒等酒水商品，是香港颜之堂饮料的玉林市区域代理商。</p>
                    <p>我们秉承“诚信、务实”的经营理念为广大客户提供优质的服务。</p>
                    <p><b>如果您有合适的店面，请联系我们，我们现向玉林地区范围诚招批发、零售商，我们会有专人为您竭诚服务！</b></p>
                    <p><b>如果您身边有酒水生意，请联系我们，您便是我们的销售员，成交即返现提成！快来和我们一起共赢发展吧！</b></p>
                    <p>地址：中国·广西-玉林市-玉州区大新里北53号</p>
                    <p>电话：0775-2305066 传真：0775-2305066</p>
                    <p>24小时热线：(0)15108000515</p>
				</div>
			</div>
		</div>
	</section>
    <%-include include_footer.html%>