<%-include include_header.html%>
<%-include include_banner.html%>
<script type="text/javascript" src="/javascripts/scrollpagination.js"></script>
<link href="/stylesheets/scrollpagination_demo.css" rel="stylesheet" media="screen" />
<script type="text/javascript">

    $(function(){
        $('#content').scrollPagination({
            'contentPage': '/goods', // the url you are fetching the results
            'contentData': {index:2}, // these are the variables you can pass to the request, for example: children().size() to know which page you are
            'scrollTarget': $(window), // who gonna scroll? in this example, the full window
            'heightOffset': 30, // it gonna request when scroll is 10 pixels before the page ends
            'beforeLoad': function(){ // before load function, you can display a preloader div
                this.contentData = {index:Math.floor($('#content').children().size()/<%=indexGoodsAmout%>)+1};
                $('#loading').fadeIn();
            },
            'afterLoad': function(elementsLoaded){ // after loading content, you can use this function to animate your new elements
                $('#loading').fadeOut();
                var i = 0;
                $(elementsLoaded).fadeInWithDelay();
                if ($('#content').children().size() >= <%=total%>){ // if more than 100 results already loaded, then stop pagination (only for testing)
                    $('#nomoreresults').fadeIn();
                    $('#content').stopScrollPagination();
                }
            }
        });

        // code for fade in element by element
        $.fn.fadeInWithDelay = function(){
            var delay = 0;
            return this.each(function(){
                $(this).delay(delay).animate({opacity:1}, 200);
                delay += 100;
            });
        };

    });
</script>
	<section class="body_main">
        <%-include include_nav.html%>
		<div class="trip">
			<div class="main">
				<div class="tt">品类</div>
				<div class="tc" id="content">
                    <%
                    allGoods.forEach(function(goods){%>
					<div class="pro">
						<div class="proimg"><a href="/goods/show/<%=goods.gid%>"><img style="width:94px;height:132;" src="/images/goods/<%=goods.img%>"></a></div>
						<div class="proname"><a href="/goods/show/<%=goods.gid%>"><%=goods.name%></a></div>
					</div>
                    <%})%>
				</div>

                <!--<a href="/goods/1" title="First Page">&laquo; 第一页</a>-->
                <!--<%if(previous_page!=0){%>-->
                <!--<a href="/goods/<%=previous_page%>" title="Previous Page">&laquo; 上一页</a>-->
                <!--<%}%>-->
                <!--<%if(current_page != last_page){%>-->
                <!--<a href="/goods/<%=next_page%>" title="Next Page">下一页 &raquo;</a>-->
                <!--<%}%>-->
                <!--<a href="/goods/<%=last_page%>" title="Last Page">最后页 &raquo;</a>-->
                <div class="loading" id="loading">显示更多!</div>
                <div class="loading" id="nomoreresults">已经全部显示了.</div>
			</div>



		</div>


	</section>
    <%-include include_footer.html%>