<section class="body_banner">
    <!--演示内容开始-->
    <div class="swipe">
        <ul id="slider">
            <li style="display:block"><img width="100%" height="200px" src="/images/banner/banner1.jpg"/></li>
            <li><img width="100%" height="200px" src="/images/banner/banner2.jpg"/></li>
            <li><img width="100%" height="200px" src="/images/banner/banner3.jpg"/></li>
            <li><img width="100%" height="200px" src="/images/banner/banner4.jpg"/></li>
        </ul>
        <div id="pagenavi">
            <a href="javascript:void(0);" class="active">1</a>
            <a href="javascript:void(0);">2</a>
            <a href="javascript:void(0);">3</a>
            <a href="javascript:void(0);">4</a>
        </div>
    </div>
    <script type="text/javascript" src="/javascripts/touchScroll.js"></script>
    <script type="text/javascript" src="/javascripts/touchslider.dev.js"></script>
    <script type="text/javascript" src="/javascripts/run.js"></script>
    <!--演示内容结束-->
</section>