<%-include include_header.html%>
<%-include include_banner.html%>


	<section class="body_main">
        <%-include include_nav.html%>
		<div class="trip">
			<div class="index_left">
				<ul>
					<li><a href="/goods"><img src="/images/pro01a.jpg"></a></li>
					<li><a href="/show/1"><img src="/images/tuijian.png">
                        <img  src="/images/goods/small/img_2831aa.jpg"></a></li>
					<li><a href="/show/3"><img src="/images/goods/small/img_2833aa.jpg"><img src="/images/jiankang.png"></a></li>
				</ul>
			</div>
			<div class="index_right">
				<ul>
					<li class="emem"><a href="/about"><img src="images/pro04.jpg"></a></li>
					<li class="bmbm">
						<img src="/images/zzh.png"><br>
                        香港颜之堂饮料现向玉林地区范围诚招批发、零售商，有意者请联系洽谈，我们会有专人为您竭诚服务！...<br>
						<span><a href="/about"><img src="images/more.png"></a></span>
					</li>
				</ul>
			</div>
		</div>
	</section>
<%-include include_footer.html%>