<%-include include_header.html%>
<%-include include_banner.html%>

	<section class="body_main">
        <%-include include_nav.html%>
		<div class="trip">
			<div class="main">
				<div class="tt"><%=goods.name%></div>
				<div class="tc">
					<div class="trip">
						<div class="leftimg"><img width="142px" height="143px" src="/images/goods/<%=goods.img%>"><br><a href="/images/goods/<%=goods.img1%>" target="_blank">点击查看大图</a></div>
						<div class="dire">
							<b>详细信息：</b><br>
                            <%=goods.description%><br>
						</div>
					</div>
					<!--<div class="trip price">-->
						<!--<div class="p_left">售价：<span>￥512元</span>规格型号：斤</div>-->
						<!--<div class="p_cm"><a href="#"><img src="images/buy.png"></a><a href="#"><img src="images/cerr.png"></a></div>-->
					<!--</div>-->
					<div class="trip">
						<b>阿伟小贴士：</b><br>
						<%=(goods.tips && goods.tips!='undefined') ? goods.tips : ''%>
						<img src="/images/goods/<%=goods.img1%>" width="100%">
					</div>
				</div>
			</div>
		</div>
	</section>
    <%-include include_footer.html%>